<section data-ng-controller="AdminController">
	<div class="page-header">
		<h1>Admin</h1>
	</div>
	<div data-ng-if="authentication.canAccess(['admin'])" style="text-align: center" class="col-md-4">
		<a href="/#!/users">
			<i style="font-size: 16em;" class="fa fa-users" aria-hidden="true"></i>
			<h4>User Admin</h4>
		</a>
	</div>
	<div style="text-align: center" class="col-md-4">
		<a href="/#!/groups">
			<i style="font-size: 16em;" class="fa fa-sitemap" aria-hidden="true"></i>
			<h4>My User Groups</h4>
		</a>
	</div>
	<div style="text-align: center" class="col-md-4">
		<!--
		<a href="/#!/settings">
			<i style="font-size: 16em;" class="fa fa-gears" aria-hidden="true"></i>
			<h4>System Settings</h4>
		</a>
		-->
	</div>
</section>