<section data-ng-controller="EditValuesetdefinitionsController">
    <div class="container">
        <a id="warning-anchor" ng-click="showWarnings()" ng-show="warnings.length > 0">
            <h3><i class="fa fa-exclamation-circle" aria-hidden="true"></i></h3>
        </a>

        <div class="button-toolbar">
            <ul class="toolbar-list">
                <li>
                    <h4>File</h4>
                </li>
                <li>
                    <button data-ng-disabled="! hasChanges()" type="button" class="btn btn-link" data-ng-click="save();" ng-disabled="valueSetDefinitionForm.$invalid" tooltip="Save" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                        <i class="glyphicon glyphicon-floppy-disk"></i> <span>Save<span data-ng-show="hasChanges()" style="color: red">*</span></span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-link" data-ng-click="saveAs();" ng-disabled="valueSetDefinitionForm.$invalid" tooltip="Save As" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                        <i class="glyphicon glyphicon-floppy-save"></i> <span>Save As</span>
                    </button>
                </li>
                <li>
                    <button type="button" class="btn btn-link" data-ng-disabled="! authentication.hasPermission('Delete', permissions)" data-ng-click="delete();" ng-disabled="valueSetDefinitionForm.$invalid" tooltip="Delete" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                        <i class="glyphicon glyphicon-remove-sign"></i> <span>Delete</span>
                    </button>
                </li>
                <li>
                    <button data-ng-disabled="! hasChanges()" type="button" class="btn btn-link" data-ng-click="cancel();" tooltip="Cancel" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                        <i class="glyphicon glyphicon-ban-circle"></i> <span>Cancel</span>
                    </button>
                </li>
                <li>
                    <h4>Utils</h4>
                </li>
                <li>
                    <button type="button" class="btn btn-link" data-ng-click="standardize();" tooltip="Standardize" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                        <i class="glyphicon glyphicon-globe"></i> <span>Standardize</span>
                    </button>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tooltip="Import" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                            <i class="fa fa-download" aria-hidden="true"></i> <span>Import</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="importFromSpreadsheet()"><a>From Spreadsheet</a></li>
                            <li ng-click="importFromDatabase()"><a>From Database</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a ng-href="{{'/valuesetdefinitions/' + encodedId + '/export'}}" class="btn btn-link" download="{{valuesetdefinition.definedValueSet.content + '-' + valuesetdefinition.officialResourceVersionId}}.csv" tooltip="Export" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                        <i class="glyphicon glyphicon-export"></i> <span>Export</span>
                    </a>
                </li>
                <li>
                    <button type="button" class="btn btn-link" data-ng-click="resolve();" tooltip="Resolve" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                        <i class="fa fa-cog" aria-hidden="true"></i> <span>Resolve</span>
                    </button>
                </li>
                <!--
                <li>
                    <button type="button" class="btn btn-link" data-ng-click="getMetrics();" tooltip="Metrics" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> <span>Metrics</span>
                    </button>
                </li>
                -->
                <li>
                    <api api="api"></api>
                </li>
            </ul>

        </div>

        <div class="page-header row">
            <div class="col-md-8">
                <h2>{{ valuesetdefinition.definedValueSet.content }}</h2>

                <h4>
                <span style="vertical-align: middle;"><b>Version: </b> {{ valuesetdefinition.officialResourceVersionId }}</span>

                <switch-versions
                        href="{{ id }}"
                        current="valuesetdefinition"
                        directory="ValueSetDefinitionDirectory"
                        resource-name="valuesetdefinition"></switch-versions>
                </h4>
            </div>
            <div class="col-md-4">
                <history resource="{{ id }}" to-string-fn="toString"/>
            </div>
        </div>



        <div class="row">

            <form class="form" name="valueSetDefinitionForm" data-ng-submit="update()" novalidate>
                <div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="formalName">Formal Name:</label>
                                <input type="text" data-ng-model="valuesetdefinition.formalName" id="formalName" class="form-control">
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="description">Description:</label>
                                <textarea data-ng-model="valuesetdefinition.resourceSynopsis.value" id="description" class="form-control"></textarea>
                                </label>
                            </div>

                            <div class="form-group">
                                <label for="description">Keywords:</label>
                                <tags-input ng-model="tags"></tags-input>
                                </label>
                            </div>

                            <div class="form-group">
                                <label for="description">Group:</label>
                                    <ownership resource="valuesetdefinition"></ownership>
                                </label>
                            </div>

                        </div>
                    </div>
                 </div>

                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Contents</h3>
                    </div>
                    <div class="panel-body">

                        <ul ui-sortable ng-model="valuesetdefinition.entry" class="list-group">
                            <li data-ng-repeat="entry in valuesetdefinition.entry" class="no-list-style" data-ng-class="{'dirty': entry.new}">

                                <div class="panel panel-default">
                                    <div class="panel-heading">

                                        <div id="entry-{{ $index }}" class="row">
                                            <div class="col-md-6">

                                                <h3 class="panel-title">
                                                    <i class="fa fa-arrows draggable" aria-hidden="true"></i>&nbsp;
                                                    <a href="javascript:;" data-toggle="collapse" data-target="#collapse-{{ $index }}">
                                                        <span ng-if="entry.entity">Concept&nbsp;List</span>
                                                        <span ng-if="entry.completeCodeSystem">Complete&nbsp;Code&nbsp;System</span>
                                                        <span ng-if="entry.completeValueSet">Complete&nbsp;Value&nbsp;Set</span>
                                                        <span ng-if="entry.propertyQuery">Property&nbsp;Query</span>
                                                        <span ng-if="entry.associatedEntities">Associated&nbsp;Entities</span>
                                                    </a>
                                                </h3>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="pull-right">
                                                        <!--
                                                        <select class="form-control" data-ng-model="entry.operator" id="operator">
                                                            <option>UNION</option>
                                                            <option>INTERSECT</option>
                                                        </select>
                                                        -->

                                                        <button type="button" class="btn btn-default btn-xs" data-ng-click="removeEntry($index);">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapse-{{ $index }}" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                        <div ng-if="entry.entity">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default" data-ng-click="addCustomCode(entry.entity.referencedEntity);" tooltip="Add a local or non-standardized concept">
                                                    <i class="glyphicon glyphicon-plus"></i> Add a custom concept
                                                </button>
                                                <button type="button" ng-disabled="loadingCodeSystemVersions" class="btn btn-default" data-ng-click="searchMultiple(entry.entity.referencedEntity);" tooltip="Add a concept from a standard code system">
                                                    <span ng-hide="loadingCodeSystemVersions">
                                                        <i class="glyphicon glyphicon-search"></i>
                                                        Search for concepts
                                                    </span>
                                                    <span ng-hide="! loadingCodeSystemVersions">
                                                        <i class="fa fa-refresh fa-spin"></i>
                                                        loading search...
                                                    </span>
                                                </button>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tooltip="Import concepts from a spreadsheet">
                                                        <i class="fa fa-download" aria-hidden="true"></i> <span>Import concepts</span> <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li ng-click="importFromSpreadsheet(entry)"><a>From Spreadsheet</a></li>

                                                        <li ng-click="importFromDatabase()"><a>From Database</a></li>

                                                    </ul>
                                                </div>
                                            </div>
                                            <div data-ng-show="entry.entity.referencedEntity.length > 0">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>Code</th>
                                                            <th>Namespace</th>
                                                            <th>Description</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-class="{'dirty': entity.new}" ng-repeat="entity in entry.entity.referencedEntity">
                                                            <td>{{entity.name}}</td>
                                                            <td>{{entity.namespace}}</td>
                                                            <td>{{entity.designation}}</td>
                                                            <td class="text-right">
                                                                <button type="button" data-ng-show="isCustomCode(entity)" class="btn btn-link" data-ng-click="editCustomCode(entry.entity.referencedEntity, $index);">
                                                                    <i class="glyphicon glyphicon-remove"></i> Edit
                                                                </button>
                                                                <button type="button" class="btn btn-link" data-ng-click="removeSpecificEntity(entry.entity.referencedEntity, $index);">
                                                                    <i class="glyphicon glyphicon-remove"></i> Remove
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <!--
                                                <a data-ng-repeat="entity in entry.entity.referencedEntity" class="list-group-item">
                                                    <entity-name-and-uri entity="entity">
                                                        <button type="button" class="btn btn-default" data-ng-click="editCustomCode(entry.entity.referencedEntity, $index);">
                                                            <i class="glyphicon glyphicon-edit"></i>
                                                        </button>
                                                        <button type="button" class="btn btn-default" data-ng-click="removeSpecificEntity(entry.entity.referencedEntity, $index);">
                                                            <i class="glyphicon glyphicon-remove"></i>
                                                        </button>
                                                    </entity-name-and-uri>
                                                </a>
                                                -->
                                            </div>
                                        </div>

                                        <div ng-if="entry.completeCodeSystem" class="list-group-itemxx">
                                            <div>
                                                <ui-select ng-model="entry.completeCodeSystem.codeSystemVersion" theme="bootstrap" ui-select-required>
                                                    <ui-select-match placeholder="Code System...">
                                                        <div>
                                                            <b>Code System:</b> <span ng-bind-html="csvSummaryMap[$select.selected.version.uri].versionOf.content | highlight: $select.search"></span>,
                                                            <b>Version:</b> <span>{{ csvSummaryMap[$select.selected.version.uri].officialResourceVersionId }}</span>
                                                            <em><small><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ csvSummaryMap[$select.selected.version.uri].resourceSynopsis.value }}</small></em>
                                                        </div>
                                                    </ui-select-match>
                                                    <ui-select-choices repeat="codeSystemVersion in csvReferences | filter: $select.search">
                                                        <div>
                                                            <b>Code System:</b> <span ng-bind-html="csvSummaryMap[codeSystemVersion.version.uri].versionOf.content | highlight: $select.search"></span>,
                                                            <b>Version:</b> <span>{{ csvSummaryMap[codeSystemVersion.version.uri].officialResourceVersionId }}</span>
                                                        </div>
                                                        <em><small><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ csvSummaryMap[codeSystemVersion.version.uri].resourceSynopsis.value }}</small></em>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>

                                        <div ng-if="entry.completeValueSet" class="list-group-item">
                                            <div>
                                                <a data-ng-repeat="entity in entry.entity.referencedEntity" class="list-group-item">
                                                    <h4 class="list-group-item-heading">
                                                        {{entity.uri}} <small>{{entity.name}} : {{entity.namespace}}</small>
                                                    </h4>
                                                    <em>{{entity.designation}}</em>
                                                </a>
                                            </div>
                                        </div>

                                        <div ng-if="entry.propertyQuery" class="list-group-item">
                                            <div>
                                                <a data-ng-repeat="entity in entry.entity.referencedEntity" class="list-group-item">
                                                    <h4 class="list-group-item-heading">
                                                        {{entity.uri}} <small>{{entity.name}} : {{entity.namespace}}</small>
                                                    </h4>
                                                    <em>{{entity.designation}}</em>
                                                </a>
                                            </div>
                                        </div>

                                        <div ng-if="entry.associatedEntities">
                                    <div>
                                        <div data-ng-init="associatedEntity = entry.associatedEntities" class="list-group-item">
                                            <h4 class="list-group-item-heading">
                                                Focus: {{associatedEntity.referencedEntity.uri}} <small>{{associatedEntity.referencedEntity.name}} : {{associatedEntity.referencedEntity.namespace}}</small>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default" data-ng-click="searchOne(entry.associatedEntities);">
                                                        <i class="glyphicon glyphicon-search"></i>
                                                    </button>
                                                </div>
                                            </h4>
                                            <h5 ng-if="associatedEntity.codeSystem">Code System: {{ associatedEntity.codeSystem.content }}</h5>
                                    <span ng-if="associatedEntity.codeSystemVersion">
                                        <h5>Code System: {{ associatedEntity.codeSystemVersion.codeSystem.content }}</h5>
                                        <h5>Code System Version: {{ associatedEntity.codeSystemVersion.version.content }}</h5>
                                    </span>
                                            <em>{{associatedEntity.referencedEntity.designation}}</em>
                                            <div>
                                                Direction:
                                                <select class="form-control" ng-model="associatedEntity.direction" name="direction">
                                                    <option value="SOURCE_TO_TARGET">SOURCE_TO_TARGET</option>
                                                    <option value="TARGET_TO_SOURCE">TARGET_TO_SOURCE</option>
                                                </select>
                                            </div>
                                            <div>
                                                Leaf Or All:
                                                <select class="form-control" ng-model="associatedEntity.leafOnly" name="leafOnly">
                                                    <option value="LEAF_ONLY">LEAF_ONLY</option>
                                                    <option value="ALL_INTERMEDIATE_NODES">ALL_INTERMEDIATE_NODES</option>
                                                </select>
                                            </div>
                                            <div>
                                                Transitivity:
                                                <select class="form-control" ng-model="associatedEntity.transitivity" name="transitivity">
                                                    <option value="DIRECTLY_ASSOCIATED">DIRECTLY_ASSOCIATED</option>
                                                    <option value="TRANSITIVE_CLOSURE">TRANSITIVE_CLOSURE</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                    </div>
                                    </div>
                                </div>
                            </li>

                        </ul>

                        <div class="btn-group">
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                                <i class="fa fa-plus" aria-hidden="true"></i> <span>Add Content </span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <!--
                                <li ng-click="newCompleteValueSet()"><a>Complete ValueSet</a></li>
                                -->
                                <!--
                                <li ng-click="newAssociatedEntity()"><a>Add a Rule-based Concept</a></li>
                                -->
                                <li ng-click="newSpecificEntity()"><a>Add a List of Concepts</a></li>
                                <li ng-click="newCompleteCodeSystem()"><a>Add an Entire Code System</a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </form>
        </div>

        <disq ng-if="!isNew" topic="{{ valuesetdefinition.about }}"></disq>
    </div>
</section>
