<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="cancel();"><span
            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">Save As</h4>
</div>
<div class="modal-body">

    <label class="control-label" for="logo">Logo:</label>
    <input type="text" class="form-control" name="logo" id="logo" ng-model="logo" required>

    <div class="preview-img-container">
        <img class="preview-img" ng-src="{{logo}}">
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="done()">Done</button>
</div>
