<!-- Modal -->

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="done();"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">REST API</h4>
</div>
<div class="modal-body">
    <div ng-repeat="entry in api" class="api-row">
        <h4>
            <img ng-if="entry.type == 'cts2'" height="35px" src="/modules/core/img/brand/cts2-thin.png">
            <img ng-if="entry.type == 'fhir'" height="35px" src="/modules/core/img/brand/FHIR.png">
            <img ng-if="entry.type == 'svs'" height="35px" src="/modules/core/img/brand/ihe.png">
            {{ entry.name }}
        </h4>
        <div><em>{{ entry.description }}</em></div>
        <div>
            <span class="label label-primary">{{ entry.method }}</span>
            <code class="api-url">{{ getUrl(entry) }}</code>
        </div>
    </div>

    <hr>

    <div align="center">
        <h3>Security</h3>
        <p>
            All REST calls must include an <code>ApiKey</code> header.
        </p>
        <div class="form-group">
            <button ng-click="showKey = !showKey" class="btn btn-xs btn-primary">
                <span ng-if="showKey">Hide API Key</span>
                <span ng-if="!showKey">Show API Key</span>
            </button>
            <div>
                <code ng-if="showKey">{{user.apiKey}}</code>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="text-left">
        <div ng-if="hasApi.cts2">
            <small>CTS2® logo copyright Object Management Group (OMG).</small>
        </div>
        <div ng-if="hasApi.fhir">
            <small>FHIR® is the registered trademark of HL7 and is used with the permission of HL7. The Flame Design mark is the registered trademark of HL7 and is used with the permission of HL7.</small>
        </div>
        <div ng-if="hasApi.svs">
            <small>IHE and the IHE logo are registered trademarks of IHE-Europe.</small>
        </div>
    </div>
</div>
