.no-list-style ul {
    list-style-type: none;
}

.dropbox{
    -moz-box-shadow: 0 0 2px black;
    -webkit-box-shadow: 0 0 2px black;
    box-shadow: 0 0 2px black;
}

.box-shadow--16dp___ {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.from-to i {
    display:block;
    text-align:center;
}

.maptarget-list-item {
    margin-top: 10px;
}

.ui-select-choices-group-label {
    font-size: 20px;
}