<section data-ng-controller="CreateMapversionsController" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="page-header row">
            <h2>Create a New Map</h2>
        </div>

        <div class="row">
            <form name="mapVersionForm" novalidate>
                <fieldset>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="control-label" for="name">Name</label>
                            <div class="controls">
                                <input type="text" min="1" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="description">Group:</label>
                                <ownership resource="mapVersion"></ownership>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset>
                                <div class="form-group">
                                    <label class="control-label">From Value Set:</label>
                                    <div>
                                        <ui-select ng-model="valuesets.fromValueSetDefinition" theme="bootstrap" ui-select-required>
                                            <ui-select-match placeholder="from Value Set...">
                                                <div>
                                                    <b>Value Set:</b> <span ng-bind-html="$select.selected.definedValueSet.content | highlight: $select.search"></span>,
                                                    <b>Version:</b> <span>{{ $select.selected.officialResourceVersionId }}</span>
                                                    <em><small><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ $select.selected.resourceSynopsis.value }}</small></em>
                                                </div>
                                            </ui-select-match>
                                            <ui-select-choices group-by="groupByValueSet" repeat="valueSetDefinition in fromValueSetDefinitions" refresh="getDefinitions($select.search, 'fromValueSetDefinitions')">
                                                <div>
                                                    <span class="label label-primary">Version: {{ valueSetDefinition.officialResourceVersionId }}</span>
                                                    <em><small><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ valueSetDefinition.resourceSynopsis.value }}</small></em>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div  class="col-md-6">
                            <fieldset>
                                <div class="form-group">
                                    <label class="control-label">To Value Set:</label>
                                    <div>
                                        <ui-select ng-model="valuesets.toValueSetDefinition" theme="bootstrap" ui-select-required>
                                            <ui-select-match placeholder="from Value Set...">
                                                <div>
                                                    <b>Value Set:</b> <span ng-bind-html="$select.selected.definedValueSet.content | highlight: $select.search"></span>,
                                                    <b>Version:</b> <span>{{ $select.selected.officialResourceVersionId }}</span>
                                                    <em><small><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ $select.selected.resourceSynopsis.value }}</small></em>
                                                </div>
                                            </ui-select-match>
                                            <ui-select-choices group-by="groupByValueSet" repeat="valueSetDefinition in toValueSetDefinitions" refresh="getDefinitions($select.search, 'toValueSetDefinitions')">
                                                <div>
                                                    <span class="label label-primary">Version: {{ valueSetDefinition.officialResourceVersionId }}</span>
                                                    <em><small><i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ valueSetDefinition.resourceSynopsis.value }}</small></em>
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-success" data-ng-click="create();" ng-disabled="mapVersionForm.$invalid" tooltip="Save" tooltip-trigger tooltip-animation="false" tooltip-placement="right" tooltip-enable="{{ expanded }}">
                            <i class="glyphicon glyphicon-floppy-disk"></i> Create New
                        </button>
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>
